<a href="https://colab.research.google.com/github/pujasans/pujakrishna/blob/main/Python_Fundamentals_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals - 1

In [2]:
print ("hi")

hi

### Basics

In [ ]:
# This is a single-line comment

"""
This is a multi-line comment
And this is the second line
"""

In [1]:
# print function
print("Hello World!\n")
# print()
print("How are you?")

Hello World!

How are you?

In [ ]:
print('a', end=' ')
print('b')

a b

In [ ]:
# input function
input("Enter your name: ")
# input()

123

'123'

### Variables & Data Types

In [ ]:
# string
_name = "Matt"
print(_name)
print(type(_name))

Matt
<class 'str'>

In [ ]:
# integer
age1 = 20
print(age1)
print(type(age1))

20
<class 'int'>

In [ ]:
# boolean
is_married = True
print(is_married)
print(type(is_married))

True
<class 'bool'>

In [ ]:
# float
gpa = 3.7
print(gpa)
print(type(gpa))

3.7
<class 'float'>

In [ ]:
# you can overwrite (re-assign) values to variables
age = 30
print(type(age))

age = "30"
print(type(age))

<class 'int'>
<class 'str'>

In [ ]:
# What is the output?
a = 5
a = "abcd"
a = True

print(a)

True

In [ ]:
# What is the output?
3d_num = 120
print(3d_num + 1)

SyntaxError: invalid decimal literal (404103703.py, line 2)

In [ ]:
# Explicit typecasting
age = "25"
int_age = int(age)

print(type(age))
print(type(int_age))

<class 'str'>
<class 'int'>

In [ ]:
age = 25
str_age = str(age)

print(type(age))
print(type(str_age))

<class 'int'>
<class 'str'>

In [ ]:
age = "Twenty-five"
int_age = int(age)

ValueError: invalid literal for int() with base 10: 'Twenty-five'

In [ ]:
# Implicit Typecasting
int_val = 5
float_val = 2.0

print(int_val + float_val)
print(type(int_val + float_val))

# Explicit Typecasting
int_result = int(int_val + float_val)

print(int_result)
print(type(int_result))

7.0
<class 'float'>
7
<class 'int'>

In [ ]:
# Reading numbers from the user
num = int(input("Enter your number: "))

print(num)
print(type(num))

Enter your number: 23
23
<class 'int'>

In [ ]:
# Error handling
try:
    num = float(input("Enter a float number: "))
except:
    print("Invalid input. Please enter a valid number")

Enter a float number: abcd
Invalid input. Please enter a valid number

### Operators

In [ ]:
# Arithmetic Operators
a = 9
b = 4

# 9 = 4 x 2 + 1

In [ ]:
# print(a+b)
# print(a-b)
# print(a*b)
# print(a/b)
# print(a//b)
# print(a%b)
print(a**b)

6561

In [ ]:
a = 5
b = 10

In [ ]:
# b = b + a
b += a
print(b)

15

In [ ]:
b += 1
print(b)

16

In [ ]:
# b = b * 2
b *= 2
print(b)

32

In [ ]:
# Comparison Operators
a = 13
b = 20

In [ ]:
# print(a < b)
# print(a == b)
# print(a != b)
# print(a >= b)
print(a <= b)

True

In [ ]:
x = a > b
print(x)

False

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

In [ ]:
result1 = (a != b)
result2 = (a is not b)

In [ ]:
print(result1)
print(result2)

False
True

In [ ]:
print(id(a))
print(id(b))

4609423552
4609433920

In [ ]:
c = a

In [ ]:
result3 = (c is not a)

In [ ]:
print(id(a))
print(id(c))

4608822976
4608822976

In [ ]:
print(result3)

False

In [ ]:
# Logical Operators
a = True
b = False

In [ ]:
# print(a and b)
# print(a or b)
print(not a)

False

In [ ]:
condition = a and b

In [ ]:
print(not condition)

True

### if-else Statements

In [ ]:
# Example - if-else
age = 25
threshold = 18

if age > threshold:
    print("You're eligible for voting")
else:
    print("You're NOT eligible for voting")

You're eligible for voting

In [ ]:
# Example - Arithmetic Operators
a = 8

print(a % 2)

if a % 2 == 0:
    print("Even")
else:
    print("Odd")

0
Even

In [ ]:
# Example - Multiple Conditions
age = 25
has_license = True

if (age >= 18) and (has_license):
    print("Driving Allowed!")
elif (age >= 18) and (not has_license):
    print("Need License!")
else:
    print("Underaged!")

Underaged!

In [ ]:
# What are the outputs?

num = 14
# num = 7

if num >= 10:
    if num % 2 == 0:
        print("Checkpoint A")
    else:
        print("Checkpoint B")
else:
    if num % 2 == 0:
        print("Checkpoint C")
    else:
        print("Checkpoint D")

Checkpoint D

In [ ]:
num = 14
condition = (num % 2 == 0)

if num >= 10:
    print("A") if condition else print("B")
else:
    print("C") if condition else print("D")

A

In [ ]:
(print("A") if condition else print("B")) if (num >= 10) else (print("C") if condition else print("D"))

A

### Loops

In [ ]:
# for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(10, 15):
    print(i)

10
11
12
13
14

In [ ]:
for i in range(10, 15, 2):
    print(i)

10
12
14

In [ ]:
# Find the sum of 1-4
SUM = 0
for x in range(1, 5):
    SUM += x
print(SUM)

10

In [ ]:
message = ""
for num in range(1, 5):
    message += str(num)
print(message)

1234

In [ ]:
# while loop
count = 1

while (count <= 5):
    print("Number " + str(count))
    count += 1

print("\nCount =", count)

Number 1
Number 2
Number 3
Number 4
Number 5

Count = 6

In [ ]:
# loop control - break
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
# loop control - continue
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

#### CLASS ACTIVITY

Find the sum of digits of a given number N

In [ ]:
# N = 5013
# ans = 5 + 0 + 1 + 3 = 9

N = 5013
res = 0

while N > 0:
    remainder = N % 10
    res += remainder
    N //= 10

print(res)

9

Find the first pair of (non-negligible) divisors for a given number N

In [ ]:
# N = 64
# set_of_divisors = {1, 2, 4, 8, 16, 32, 64}
# ans = (2, 32)

N = 64
found_divisor = False

for i in range(2, N):

    if found_divisor:
        break

    for j in range(i, N):

        # Check if i and j are divisors
        if i * j == N:
            ans = (i, j)
            found_divisor = True
            break

print(ans)

(2, 32)

### Function

In [ ]:
def greet():
    print("Hello")

greet()

Hello

In [ ]:
def greet_someone(name: str) -> None:
    print("Hello " + name)

greet_someone(name="John")

Hello John

In [ ]:
# Example - Arithmetic
def add_numbers(a: int, b: int) -> int:
    return a + 2 * b

print(add_numbers(a=4, b=8))

20

In [ ]:
# Example - Arithmetic
def add_numbers(a=7, b=8):
    return a + b

# print(add_numbers())
# print(add_numbers(2, 3))
print(add_numbers(a=2))

10

In [ ]:
# N = 5013
# ans = 5 + 0 + 1 + 3 = 9

def find_sum_of_digits(num):
    res = 0
    while num > 0:
        remainder = num % 10
        res += remainder
        num //= 10
    return res

print(find_sum_of_digits(49213))

19

In [ ]:
def function1(arg1: str):
    print(arg1 + 10)

function1(arg1=20)

30

### Lists

In [ ]:
# Create a new list (lists are heterogeneous)
my_list = [1, 2, 3, "John", True, 'a', 'b']

In [ ]:
# print(my_list[0])
# print(my_list[1])
print(my_list[len(my_list)-1])

b

In [ ]:
# print(my_list[-1])
# print(my_list[-3])
print(my_list[-len(my_list)])

1

In [ ]:
my_list[0] = "new"
print(my_list)

['new', 2, 3, 'John', True, 'a', 'b']

In [ ]:
# list concatenation
new_list = [0] + my_list + ['c']
print(new_list)

[0, 'new', 2, 3, 'John', True, 'a', 'b', 'c']

In [ ]:
# list multiplications
scores = [0] * 10
print(scores)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# lists built-in functions
fruits = ["Apple", "Banana", "Cherry"]

In [ ]:
# fruits.append("Orange")
# fruits.extend(["Kiwi", "Blueberry"])
# fruits.extend(["Watermelon"])
# fruits.remove("Cherry")
# removed_element = fruits.pop()
# removed_element = fruits.pop(2)
# idx = fruits.index("Banana")
# fruits.append("Apple")
# num_of_apples = fruits.count("Apple")
# fruits.clear()

print(fruits)
# print(removed_element)
# print(idx)
# print(num_of_apples)

['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Blueberry']

In [ ]:
# Numerical Example
nums = [2, 0, -1, 4, -2, 10]

In [ ]:
# nums.sort(reverse=True)
# num.reverse()
# num2 = nums.copy()
del nums[1:3]

# print(nums)
print(nums)

[10, -1, -2]

In [ ]:
# element-wise iteration
for num in nums:
    print(num)

10
-1
-2

In [ ]:
# Iterate with index
for i in range(len(nums)):
    print(i, nums[i])

0 10
1 -1
2 -2

In [ ]:
for i, val in enumerate(nums):
    print(i, val)

0 10
1 -1
2 -2

In [ ]:
# Check existence

case1 = (10 in nums)
print(case1)

True

In [ ]:
case2 = (5 in nums)
print(case2)

False

In [ ]:
# list comprehensions
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

In [ ]:
# Slicing in lists

my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# print(my_list[start:end:step])

# print(my_list[1:5])
# print(my_list[4:])
# print(my_list[:4])
# print(my_list[1:9:2])
# print(my_list[::])
# print(my_list[::2])
print(my_list[::-1])
# print(my_list[-2:-5:-1])
# print(my_list[-3:])
# print(my_list[-5:-2])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### LeetCode - Two Sum

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

In [ ]:
def twoSum(nums, target):
    n = len(nums)
    for i in range(n):
        num1 = nums[i]
        for j in range(i+1, n):
            num2 = nums[j]
            if (num1 + num2 == target):
                return [i, j]

In [ ]:
# Test Case 1
list1 = [2, 7, 11, 15]
result = twoSum(list1, 9)
print(result)

[0, 1]

In [ ]:
# Test Case 2
list2 = [3, 2, 4]
result = twoSum(list2, 6)
print(result)

[1, 2]

In [ ]:
# Test Case 3
list3 = [2, 10, 9, 20, 5, 7]
result = twoSum(list3, 11)
print(result)

[0, 2]

### LeetCode - Contains Duplicate

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

In [ ]:
# Solution 1
def containsDuplicate(nums):
    n = len(nums)
    for i in range(n-1):
        for j in range(i+1, n):
            if nums[i] == nums[j]:
                return True
    return False

In [ ]:
# Solution 2
def containsDuplicate(nums):
    nums.sort()
    n = len(nums)
    for i in range(n-1):
        if nums[i] == nums[i+1]:
            return True
    return False

In [ ]:
# Test Case 1
list1 = [1, 2, 3, 1]
result = containsDuplicate(list1)
print(result)

True

In [ ]:
# Test Case 2
list2 = [1, 2, 3, 4]
result = containsDuplicate(list2)
print(result)

False

In [ ]:
# Test Case 3
list3 = [1, 1, 1, 3, 3, 4, 3, 2, 4, 2]
result = containsDuplicate(list3)
print(result)

True

In [ ]:
# Test Case 4
list4 = [2, 10, 9, 20, 1, 7]
result = containsDuplicate(list4)
print(result)

False

### Strings

In [ ]:
# Create a new string
greeting = "Hello, World!"

In [ ]:
# Access characters
ch1 = greeting[0]
ch2 = greeting[1]
ch3 = greeting[-1]

print(ch1, ch2, ch3)

H e !

In [ ]:
# strings are immutable
greeting[0] = 'G'

TypeError: 'str' object does not support item assignment

In [ ]:
# string concatenation
full_greeting = greeting + " Have a great day!"
print(full_greeting)

Hello, World! Have a great day!

In [ ]:
n = len(greeting)
print(n)

13

In [ ]:
# strings built-in functions
words = "Interview Kickstart"

In [ ]:
# print(words.upper())
# print(words.lower())
# print(words.capitalize())
# print(words.partition(' '))
# print(words.partition('t'))
# print(words.split())
# print(words.split('t', maxsplit=2))
print(words.replace("Kickstart", "Ready!"))

Interview Ready!

In [ ]:
words = ["Interview", "Kickstart"]

In [ ]:
# print(" ".join(words))
print(", ".join(words))

Interview, Kickstart

In [ ]:
# strings built-in functions
words = "Interview Kickstart"

In [ ]:
# print(words.find("Kickstart"))
print(words.find("Ready"))

-1

In [ ]:
# print(words.index("Kickstart"))
print(words.index("Ready"))

ValueError: substring not found

In [ ]:
text = "   text         "

print(text.strip())

text

In [ ]:
print(text.lstrip().rstrip())

text

In [ ]:
text = "wowwwww!"

print(text.rstrip("!w"))

wo

In [ ]:
text = "Python is fun"

print(text.startswith("Python"))

True

In [ ]:
print("12345".isnumeric())

True

In [ ]:
print("12345abc".isalnum())

True

In [ ]:
# String slicing
my_string = 'CodingIsFun'

# Using indexing sequence
print(my_string[1:5])
print(my_string[-3:])

odin
Fun

### LeetCode - Find Pivot Index

Given an array of integers nums, calculate the pivot index of this array.

The pivot index is the index where the sum of all the numbers strictly to the left of the index is equal to the sum of all the numbers strictly to the index's right.

If the index is on the left edge of the array, then the left sum is 0 because there are no elements to the left. This also applies to the right edge of the array.

Return the leftmost pivot index. If no such index exists, return -1.

In [ ]:
# Solution 1
def find_left_sum(nums, i):
#     return sum(nums[:i])
    SUM = 0
    for j in range(i):
        SUM += nums[j]
    return SUM

def find_right_sum(nums, i):
#     return sum(nums[i+1:])
    SUM = 0
    for j in range(i+1, len(nums)):
        SUM += nums[j]
    return SUM

def pivotIndex(nums):
    for i in range(len(nums)):
        left_sum = find_left_sum(nums, i)
        right_sum = find_right_sum(nums, i)
        if left_sum == right_sum:
            return i
    return -1

In [ ]:
# Solution 2
def pivotIndex(nums):
    S = sum(nums)
    leftsum = 0
    for i, x in enumerate(nums):
        if leftsum == (S - leftsum - x):
            return i
        leftsum += x
    return -1

In [ ]:
# Test Case 1
nums1 = [1, 7, 3, 6, 5, 6]
print(pivotIndex(nums1))

3

In [ ]:
# Test Case 2
nums2 = [1, 2, 3]
print(pivotIndex(nums2))

-1

### LeetCode - Revese Words in a String

Given an input string s, reverse the order of the words.

A word is defined as a sequence of non-space characters. The words in s will be separated by at least on space.

Return a string of the words in reverse order concatenated by a single space.

Note that s may contain leading or trailing spaces or multiple spaces between two words. The returned string should only have a single space separating the words. Do not include any extra spaces.

In [ ]:
def reverseWords(s):
    list1 = s.split()
    list1.reverse()
    # list1 = list1[::-1] # Alternatively
    str1 = " ".join(list1)
    return str1

In [ ]:
# Test Case 1
text1 = "The sky is blue"
print(reverseWords(text1))

blue is sky The

In [ ]:
# Test Case 2
text2 = "  hello world  "
print(reverseWords(text2))

world hello